<div class="wrap">
  <div>
    <h2>Super inspirational text</h2>
    <mat-checkbox class="topCheck">Display List</mat-checkbox>
    <mat-divider></mat-divider>
  </div>
  <div class="list">
    <mat-checkbox class="checkbox">Talk to master Rahool</mat-checkbox>
    <mat-divider></mat-divider>
    <mat-checkbox class="checkbox">Acquire dead mans tale</mat-checkbox>
    <mat-divider></mat-divider>
    <mat-checkbox class="checkbox">Hit max power cap</mat-checkbox>
    <mat-divider></mat-divider>
    <mat-checkbox class="checkbox">Destroy the Cabal</mat-checkbox>
  </div>
</div>
